<div class="px-10 py-4 bg-purple-100 border-purple-200 border-2">
  <div class="flex justify-end sm:w-2/3 mx-auto">
    <div class="flex-1 text-justify mx-auto">
      <h3 >Today I Learned stuff</h3>
      <div class="field-item even ">
        <%= render partial: 'shared/about_links' %>
      </div>
    </div>

    <div class="flex-1 text-justify mx-auto">
      <h3>General Information</h3>
      <%= render partial: 'shared/more_links' %>
    </div>

    <div class="flex-1 text-justify mx-auto">
      <%= render partial: 'shared/admin-links' %>
    </div>
  </div>
</div>
