.container.flex.justify-center
  .container.px-10.w-50.max-w-4xl
    .bg-yellow-300.p-5
      %h1 Recent Posts

    .rounded.bg-yellow-100.px-5.py-3.shadow-md
      - @posts.each do |post|
        .content= link_to post.title, post_path(post)

