// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1#site-name {
  font-size: 3rem;
}
h6 {
  font-size: 1em;
}
footer h3 {
  font-size: 1.2em;
}
a:hover {
  text-decoration: underline;
}
body {
  min-height: 100vh;
  min-width: 100vh;
}
  
